<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>mini</title>
	<style>
		*{
			margin: 0;padding: 0;
		}
		#mc{
			width: 100%;
			height: 200px;
/*			position: absolute;*/
			background-color: red;
			display: flex;
			justify-content: space-around;
			transition: all 2s lineaer;
			align-items: center;
			flex-direction: row;
		}
		.movie{
			width: 22%;
			height: 50%;
			background-color: white;
			border-radius: 20px;
			background-image: url("https://cdn.discordapp.com/attachments/1182511064575918191/1182636216835911700/Sanath_P_Suvarna_4SF22CS177.jpg?ex=65856ace&is=6572f5ce&hm=bcc285e830ebfd2070eb392a65d2685096f34041d1049609ea9be7fb1b7c1440&") no-repeat;
		}
		#mc:hover{
			justify-content: space-between;
		}
	</style>

</head>
<body>
	<div id=loader>
		<div><input id="ins"></div>
		<div><button></button></div>
	</div>
<script type="text/javascript" src="scr.js"></script>
</body>
</html>